@page
@model WEBII.Pages.Categoria.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>
@if (User.IsInRole("admin") || User.IsInRole("coordenador"))
{
    <p>
        <a asp-page="Create"><button class="btn btn-primary" style="background-color:mediumseagreen; border-color:mediumseagreen"><i class="fas fa-plus-circle"> </i> Adicionar</button></a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoria[0].Categoria_Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.categoria) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_Nome)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id"><button class="btn btn-primary" style="background-color:cornflowerblue; border-color:cornflowerblue"><i class="fas fa-eye"></i></button></a>
                    @if (User.IsInRole("admin") || User.IsInRole("coordenador"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id"><button class="btn btn-primary" style="background-color:darkgoldenrod; border-color:darkgoldenrod"><i class="fas fa-edit"></i></button></a>
                        <a asp-page="./Delete" asp-route-id="@item.Id"><button class="btn btn-primary" style="background-color:red; border-color:red"><i class="far fa-trash-alt"></i></button></a>
                    }

            </td>
        </tr>
}
    </tbody>
</table>
