@page
@model WEBII.Pages.Disciplinas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Disciplina</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinaVM.vDisciplina.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinaVM.vDisciplina.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinaVM.vDisciplina.Periodo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinaVM.vDisciplina.Periodo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinaVM.vDisciplina.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinaVM.vDisciplina.Categoria.Categoria_Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinaVM.vDisciplina.Dificuldade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinaVM.vDisciplina.Dificuldade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinaVM.vDisciplina.Creditos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinaVM.vDisciplina.Creditos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinaVM.vDisciplina.HoraAula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinaVM.vDisciplina.HoraAula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinaVM.vDisciplina.HoraRelogio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinaVM.vDisciplina.HoraRelogio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinaVM.vDisciplina.qtdTeorica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinaVM.vDisciplina.qtdTeorica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinaVM.vDisciplina.qtdPratica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinaVM.vDisciplina.qtdPratica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisciplinaVM.vDisciplina.Ementa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisciplinaVM.vDisciplina.Ementa)
        </dd>

        <h4>Lista de Pré-Requisitos da disciplina:</h4>
        <table class="table">
            <thead>
                <tr>    
                    <th>Nome </th>
                    <th>Período</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DisciplinaVM.Prerequisitos)
                {
                   <tr>
                        <td>@Html.DisplayFor(modelItem => item.PrerequisitoDisciplina.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.PrerequisitoDisciplina.Periodo)</td>
                        <td><a asp-page="../Disciplinas/Details" asp-route-id="@item.PrerequisitoDisciplina.Id">Ver Pré-Requisito</a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DisciplinaVM.vDisciplina?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
