@page
@model WEBII.Pages.Disciplinas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Disciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DisciplinaViewM.vDisciplina.Id" />
            <div class="form-group">
                <label asp-for="DisciplinaViewM.vDisciplina.Nome" class="control-label"></label>
                <input asp-for="DisciplinaViewM.vDisciplina.Nome" class="form-control" />
                <span asp-validation-for="DisciplinaViewM.vDisciplina.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaViewM.vDisciplina.Periodo" class="control-label"></label>
                <input asp-for="DisciplinaViewM.vDisciplina.Periodo" class="form-control" />
                <span asp-validation-for="DisciplinaViewM.vDisciplina.Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaViewM.vDisciplina.Categoria" class="control-label"></label>
                <select asp-for="DisciplinaViewM.vDisciplina.categoriaId" asp-items="@Model.DisciplinaViewM.vListCategoria"
                    class="form-control"></select>
                <span asp-validation-for="DisciplinaViewM.vDisciplina.categoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaViewM.vDisciplina.Dificuldade" class="control-label"></label>
                <input asp-for="DisciplinaViewM.vDisciplina.Dificuldade" class="form-control" />
                <span asp-validation-for="DisciplinaViewM.vDisciplina.Dificuldade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaViewM.vDisciplina.Creditos" class="control-label"></label>
                <input asp-for="DisciplinaViewM.vDisciplina.Creditos" class="form-control" />
                <span asp-validation-for="DisciplinaViewM.vDisciplina.Creditos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaViewM.vDisciplina.HoraAula" class="control-label"></label>
                <input asp-for="DisciplinaViewM.vDisciplina.HoraAula" class="form-control" />
                <span asp-validation-for="DisciplinaViewM.vDisciplina.HoraAula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaViewM.vDisciplina.HoraRelogio" class="control-label"></label>
                <input asp-for="DisciplinaViewM.vDisciplina.HoraRelogio" class="form-control" />
                <span asp-validation-for="DisciplinaViewM.vDisciplina.HoraRelogio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaViewM.vDisciplina.qtdTeorica" class="control-label"></label>
                <input asp-for="DisciplinaViewM.vDisciplina.qtdTeorica" class="form-control" />
                <span asp-validation-for="DisciplinaViewM.vDisciplina.qtdTeorica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaViewM.vDisciplina.qtdPratica" class="control-label"></label>
                <input asp-for="DisciplinaViewM.vDisciplina.qtdPratica" class="form-control" />
                <span asp-validation-for="DisciplinaViewM.vDisciplina.qtdPratica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisciplinaViewM.vDisciplina.Ementa" class="control-label"></label>
                <input asp-for="DisciplinaViewM.vDisciplina.Ementa" class="form-control" />
                <span asp-validation-for="DisciplinaViewM.vDisciplina.Ementa" class="text-danger"></span>
            </div>
            <table>
                @foreach (var prerequisito in Model.DisciplinaViewM.vListPreRequisito)
                {
                    <tr>
                        <td>
                            <input id="@prerequisito.Value" type="checkbox" name="prerequisitosSelecionados" value="@prerequisito.Value"
                            checked="@prerequisito.Selected" />
                        </td>
                        <td>
                            <label for="@prerequisito.Value">@prerequisito.Text</label>
                        </td>
                    </tr>
                }
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
