@page
@model WEBII.Pages.Usuario.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<p>
    <!--<a asp-page="Create">Create New</a>-->
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioVM[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioVM[0].Email)
            </th>
            <th>Acões</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UsuarioVM) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="text-align: center;">
                <a asp-page="./Perfil" asp-route-id="@item.Id"><button class="btn btn-primary" style="background-color:darkorange; border-color:darkorange"><i class="fas fa-user-check"></i>  Inserir Perfil</button></a>
                <!--<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
